%section.grid-container.usa-section
  %h1
    = @agency.name
    Officers

  = render UswdsComponents::TableComponent.new(striped: true, borderless: true) do
    %thead
      %tr
        %th{ scope: :col } Name
    %tbody
      = render @officers

  - if policy(Officer).new?
    = link_to new_officer_path do
      Add officer

  = render partial: 'pagy', object: @pagy
