%section.grid-container.usa-section
  %h1
    = @agency.name
    Officers

  = render UswdsComponents::TableComponent.new(striped: true) do
    %thead
      %tr
        %th{ scope: :col } Name
        %th{ scope: :col } Incidents
    %tbody
      - @officers.each do |officer|
        %tr
          %th{ scope: :row }
            = link_to officer do
              = "Unknown" if officer.name.blank?
              = officer.name
          %td= officer.incidents.size

  - if policy(Officer).new?
    = link_to new_officer_path do
      Add officer

  = pagy_nav(@pagy).html_safe # rubocop:disable Rails/OutputSafety
