Officer show

= @officer.first_name
= @officer.last_name

Badge number:
= @officer.badge_number

Serial number:
= @officer.serial_number

= link_to [:edit, @officer] do
  Edit

%h2 Incidents

- @officer.incidents.each do |incident|
  = incident.description
  = l incident.datetime, format: :long
  = link_to [:edit, incident] do
    Edit incident

= link_to new_incident_path(incident: {officer_id: @officer.id}) do
  Add incident
