%section.grid-container.usa-section
  %article.padding-4
    %h1
      = @officer.name

    %ul
      - @officer.positions.each do |position|
        %li
          = position.agency_name
          - if position.serial_number?
            (Serial: #{position.serial_number})
          - if position.badge_number?
            (Badge: #{position.badge_number})

          - if policy(position).edit?
            = link_to [:edit, @officer, position] do
              Edit position


    - if policy(Position).new?
      %p
        = link_to [:new, @officer, :position] do
          Add Position

    - if policy(@officer).edit?
      %p
        = link_to [:edit, @officer] do
          Edit Officer

      %p
        = link_to new_incident_path(incident: { officer_id: @officer.id }) do
          Add incident

  = render @officer.incidents
