%section.grid-container.usa-section
  %article.padding-4
    %h1
      = @officer.name

    %p
      Badge no:
      = @officer.badge_number.presence || 'Unknown'

    %p
      Serial no:
      = @officer.serial_number.presence || 'Unknown'

    - if policy(@officer).edit?
      %p
        = link_to [:edit, @officer] do
          Edit Officer

      %p
        = link_to new_incident_path(incident: { officer_id: @officer.id }) do
          Add incident

  = render @officer.incidents
