- query = params.permit(:q)

= render UswdsComponents::PaginationComponent.new do
  - if pagy.prev
    = render UswdsComponents::PaginationComponent::Previous.new(url: url_for(query.merge(page: pagy.prev)))

  - pagy.series.each do |item|
    - case item
    - when Integer
      = render UswdsComponents::PaginationComponent::Page.new(url: url_for(query.merge(page: item)), index: item)

    - when String
      = render UswdsComponents::PaginationComponent::Page.new(url: url_for(query.merge(page: item)), index: item, current: true)

    - when :gap
      = render UswdsComponents::PaginationComponent::Overflow.new

  - if pagy.next
    = render UswdsComponents::PaginationComponent::Next.new(url: url_for(query.merge(page: pagy.next)))
