.grid-container
  = render 'form', locals: { incident: @incident }

  %ul
    - @incident.documents.each do |document|
      %li
        = link_to document.url do
          = document.name
        = document.description
        = link_to edit_document_path(document) do
          Edit document

  = link_to new_incident_role_path(incident_id: @incident.id) do
    Add officer

  = link_to new_document_path(document: { incident_id: @incident.id }) do
    Add document

  = button_to @incident, method: :delete do
    Delete
