%section.grid-container.usa-section
  %h1
    = @entry.employee_name
    = @entry.serial_no

  %dl
    %dt Rank Tile
    %dd= @entry.rank_tile
    %dt Area
    %dd= @entry.area
    %dt Sex
    %dd= @entry.sex
    %dt Ethnicity
    %dd= @entry.ethicity
